html {
    font-size: 62.5%;
    color: #333;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #aaa;
    font-family : 'arial', 'sans serif';
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
}

header {
    height: 4rem;
    width: 100%;
    padding: .5rem;
    background-color: #539;
    color: #ddd;
    display: flex;
    align-items: center;
    font-weight: bold;
}

main {
    position:relative;
    width: 100%;
    height: calc(100% - 7rem);
    padding: .5rem;
    overflow: hidden;
}

footer {
    height: 3rem;
    width: 100%;
    padding: .5rem;
    background-color: #333;
    color: #aaa;
    font-style: italic;
    text-align: right;
}
